@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.75rem;
  --background: oklch(100% 0 252.28);
  --foreground: oklch(21.45% 0.0032 251.57);
  --card: oklch(98% 0.005 252.8194);
  --card-foreground: oklch(26.81% 0.0046 251.59);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(20.74% 0.0595 252.5);
  --primary: oklch(61.78% 0.107476 252.8194);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(91.88% 0.0135 251.57);
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(96.74% 0.0082 189.88);
  --muted-foreground: oklch(50.68% 0.0105 251.61);
  --accent: oklch(93.47% 0.0164 189.68);
  --accent-foreground: oklch(26.81% 0.0046 251.59);
  --destructive: oklch(55.23% 0.1637 24.21);
  --border: oklch(85.29% 0.0248 251.67);
  --input: oklch(57.94% 0.0751 252.38);
  --ring: oklch(61.78% 0.107476 252.8194);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --radius: 0.75rem;
  --background: oklch(20.92% 0.0246 252.28);
  --foreground: oklch(100% 0 0);
  --card: oklch(25.92% 0.0246 252.28);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(15.4% 0.0135 251.29);
  --popover-foreground: oklch(100% 0 0);
  --primary: oklch(61.78% 0.107476 252.8194);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(31.18% 0.0352 252.25);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(25.78% 0.077476 222.73);
  --muted-foreground: oklch(72.15% 0.0084 251.54);
  --accent: oklch(30.78% 0.107476 222.73);
  --accent-foreground: oklch(96.15% 0.0011 251.46);
  --destructive: oklch(55.23% 0.1637 24.21);
  --border: oklch(57.94% 0.0751 252.38);
  --input: oklch(57.94% 0.0751 252.38);
  --ring: oklch(61.78% 0.107476 252.8194);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
